@use "../scss/abstracts/variables" as *;

// Global variables
:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --text-color: #{$text-color};
  --bg-color: #{$bg-color};
}

// Global styles
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
