@use "../../styles/global.scss" as *;
@use "../../scss/abstracts/variables" as *;

.footer {
  background-color: $primary-color;
  color: white;
  padding: 1rem 0;
  margin-top: 2rem;
  text-align: center;
}
