// Colors
$primary-color: #ffb700;
$secondary-color: #182848;
$text-color: #1a162e;
$dark-text: #333;
$light-text: #fff;
$bg-color: #f6f6f9;

// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
